@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-background {
    background-color: #8775A9
}

.navbar-background-dark {
    background-color: #1E1F22
}

.home-background-dark{
    background-color: #313338
}

.button-background {
    background-color: #F2F3F5
}

.coins {
    color: #7839E1;
}

.coins-dark {
    color: #000;
}

.product-card {
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.product-image {
    max-width: 100%;
    max-height: 100%;
}

.button-background-buy {
    background-color: #8775A9
}

.button-background-buy-dark {
    background-color: #000
}

.minigame-background {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.minigame-background-dark {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    background-color: #B5BAC1;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #1A1B1E;
}

input:focus+.slider {
    box-shadow: 0 0 1px #ffffff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.myproducts-background-dark, .detail-product-background-dark{
    background-color: #313338;
}